<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/comics">All Comics</a>
    <a href="/comics/new">New Comic</a>
  </body>
</html>
